.searchWrapper {
  flex-shrink: 0;
}

.input {
  outline: none;
  border: 0;
  height: 35px;
  box-shadow: none;
  display: inline-block;
  border-radius: 29px;
  padding: 0 10px 0 16px;
  font-size: 14px;
  width: 550px;
}