.list {
  list-style: none;
  overflow: auto;
  margin-top: 50px;
  height: calc(100% - 118px);
  display: inline-flex;
  justify-content: space-between;
}

.listItem {
  flex-shrink: 0;
  font-size: 14px;
  padding: 0 10px;
  width: 140px;
  height: 70px;
  margin: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  border-radius: 3px;
  background: #aa5dd4;
  background: -webkit-linear-gradient(-30deg,  #aa5dd4, #6c94e3);
  background: -o-linear-gradient(-30deg,  #aa5dd4, #6c94e3);
  background: -moz-linear-gradient(-30deg,  #aa5dd4, #6c94e3);
  background: linear-gradient(-30deg,  #aa5dd4, #6c94e3);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.listItem:last-child {
  margin-bottom: 0;
}

.listItemSinger {
  padding-left: 7px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: rgba(255, 255, 255, 0.82);
  overflow: hidden;
}

.artist {
  width: 26px;
  height: 26px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../images/mic.png') no-repeat;
  background-size: cover;
  flex-shrink: 0;
}

.letter {
  display: table;
  margin: 7px auto 0 auto;
}