.appBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.appBackground:before {
  content: '';
  background: url('../../images/background.jpg') no-repeat center;
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  position: absolute;
  left: -13px;
  right: -13px;
  top: -13px;
  bottom: -13px;
}

.appWrapper {
  height: 100%;
}

.appContainer {
  background: rgba(227, 231, 234, 0.85);
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 40px;
}
