.wrapper {
  flex-shrink: 0;
}

.list {
  overflow: auto;
  display: flex;
  padding-bottom: 40px;
}

.text {
  color: rgba(36, 41, 46, 0.71);
  margin: 0 auto;
  padding-top: 300px;
  display: table;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px
}