.details {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

.albumCover {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 3px;
}

.albumDetails {
  margin-left: 20px;
}

.title {
  font-weight: 600;
  color: #00000082;
}

.value {
  color: #00000082;
}